<p-dialog [(visible)]="visible" [style]="{ width: '40vw' }" [modal]="true">
  <ng-template pTemplate="headless">
    <div class="modal-content">
      <div class="login-form-header">
        <div class="login-form-header__item login-form-header__item_1"></div>
        <div class="login-form-header__item login-form-header__item_2"></div>
        <div class="login-form-header__item login-form-header__item_3"></div>
        <div class="login-form-header__item login-form-header__item_4"></div>
        <div class="login-form-header__item login-form-header__item_5"></div>
        <div class="login-form-header__item login-form-header__item_6"></div>
      </div>
      <div class="row my-4 px-5">
        <div class="col-12 text-center">{{ message }}</div> 
      </div>
      <form [formGroup]="formGroup">
        <div class="row my-4 px-5">       
          <div class="col-12">
            <input type="hidden" formControlName="id" />
            
            <label> *Nombre mensaje</label>
            <input
              [readonly]="read_only"
              formControlName="nombre_mensaje"
              pInputText
              pKeyFilter="string"
              placeholder="Escriba el nombre del mensaje" />
            <label class="invalid">
              {{
                formGroup.get('nombre_mensaje')?.hasError('required') &&
                formGroup.get('nombre_mensaje')?.touched
                  ? 'Campo requerido'
                  : ''
              }}
              {{
                formGroup.get('nombre_mensaje')?.hasError('pattern') &&
                formGroup.get('nombre_mensaje')?.touched
                  ? 'Solo ingrese texto'
                  : ''
              }}</label
            >

             <label> *Texto mensaje</label>
            <input
              [readonly]="read_only"
              formControlName="texto_mensaje"
              pInputText
              pKeyFilter="string"
              placeholder="Escriba el texto del mensaje" />
            <label class="invalid">
              {{
                formGroup.get('texto_mensaje')?.hasError('required') &&
                formGroup.get('texto_mensaje')?.touched
                  ? 'Campo requerido'
                  : ''
              }}
              {{
                formGroup.get('texto_mensaje')?.hasError('pattern') &&
                formGroup.get('texto_mensaje')?.touched
                  ? 'Solo ingrese texto'
                  : ''
              }}</label
            >

          </div>
        </div>
      </form>
      <div *ngIf="read_only">
        <div class="row my-4 px-5">
          <div class="col-12 d-flex justify-content-evenly">
            <p-button label="Cerrar" severity="secondary" (click)="closeDialog(false)"></p-button>
          </div>
        </div>
      </div>
      <div *ngIf="!read_only">
        <div class="row my-4 px-5">
          <div class="col-12 d-flex justify-content-evenly">
            <p-button label="Cancelar" severity="secondary" (click)="closeDialog(false)"></p-button>
            <p-button
              [label]="buttonmsg"
              [disabled]="formGroup.invalid"
              (click)="closeDialog(true)"></p-button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>

