<p-toast></p-toast>

<div class="row mb-2">
  <div class="col-10">
    <div class="title-page">Consultar solicitudes cambio de medio de pago</div>
  </div>
</div>

<form [formGroup]="formGroup" (keydown.enter)="initPaginator()" (keydown.escape)="cleanForm()">
  <div class="position-relative">
    <div class="card flex justify-content-center absolute-center">
      <div class="filters-row">
        <div class="filters-col">
          <input
            pInputText
            class="filters-input"
            pKeyFilter="string"
            placeholder="Número de radicado"
            formControlName="filing_number" />
        </div>
        <div class="filters-col">
          <p-calendar
            formControlName="dates_range"
            selectionMode="range"
            [readonlyInput]="true"
            [style]="{ 'align-items': 'center', 'border-radius': '5px' }"
            [iconDisplay]="'input'"
            [showIcon]="true"
            placeholder="Rango de fechas"
            class="calendar"></p-calendar>
        </div>
        <div class="filters-col">
          <input
            pInputText
            pKeyFilter="text"
            class="filters-input"
            placeholder="Número de documento trabajador"
            formControlName="worker_document_number" />
        </div>
        <div class="filters-col">
          <p-multiSelect
            formControlName="request_status_id"
            [style]="{ height: '28px', 'align-items': 'center', 'border-radius': '5px' }"
            [options]="statusList"
            optionLabel="payment_method_status_name"
            optionValue="payment_method_status_id"
            placeholder="Estado solicitud"></p-multiSelect>
        </div>
        <div>
          <p-button
            icon="pi pi-trash"
            [styleClass]="'btn-icon-info'"
            (click)="cleanForm()"></p-button>
        </div>
        <div>
          <p-button
            icon="pi pi-search"
            [styleClass]="'btn-icon-info'"
            (click)="initPaginator()"></p-button>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="mt-auto">
  <p-table
    #dt
    [value]="requestList"
    dataKey="request_id"
    [rows]="10"
    [loading]="loading"
    [paginator]="false"
    [tableStyle]="{ 'min-width': '60rem' }"
    [scrollable]="true"
    scrollHeight="500px">
    <ng-template pTemplate="header">
      <tr [style]="{ height: '50px' }">
        <th style="width: 2%"></th>
        <th pSortableColumn="filing_number" style="min-width: 7rem">
          Numero de radicado <p-sortIcon field="filing_number"></p-sortIcon>
        </th>
        <th pSortableColumn="filing_datetime" style="min-width: 10rem">
          Fecha y hora solicitud <p-sortIcon field="filing_datetime"></p-sortIcon>
        </th>
        <th pSortableColumn="worker_doc_type" style="min-width: 2rem">
          Tipo doc. trabajador <p-sortIcon field="worker_doc_type"></p-sortIcon>
        </th>
        <th pSortableColumn="worker_doc_number" style="min-width: 5rem">
          Número doc. trabajador <p-sortIcon field="worker_doc_number"></p-sortIcon>
        </th>
        <th pSortableColumn="worker_full_name" style="min-width: 13rem">
          Nombre completo trabajador <p-sortIcon field="worker_full_name"></p-sortIcon>
        </th>
        <th pSortableColumn="admin_doc_type" style="min-width: 2rem">
          Tipo doc. administrador <p-sortIcon field="admin_doc_type"></p-sortIcon>
        </th>
        <th pSortableColumn="admin_doc_number" style="min-width: 5rem">
          Número doc. administrador <p-sortIcon field="admin_doc_number"></p-sortIcon>
        </th>
        <th pSortableColumn="admin_full_name" style="min-width: 13rem">
          Nombre completo administrador <p-sortIcon field="admin_full_name"></p-sortIcon>
        </th>
        <th pSortableColumn="previous_payment_method" style="min-width: 7rem">
          Medio de pago anterior <p-sortIcon field="previous_payment_method"></p-sortIcon>
        </th>
        <th pSortableColumn="new_payment_method" style="min-width: 7rem">
          Medio de pago nuevo <p-sortIcon field="new_payment_method"></p-sortIcon>
        </th>
        <th pSortableColumn="status_name" style="min-width: 5rem">
          Estado solicitud <p-sortIcon field="status_name"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr>
        <td>
          <p-button
            icon="pi pi-eye"
            [styleClass]="'btn-icon-info'"
            (click)="redirectDetails(row.request_id)"></p-button>
        </td>
        <td style="text-align: center">{{ row.radication_code }}</td>
        <td>{{ row.request_datetime | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
        <td>{{ row.worker_document_type }}</td>
        <td>{{ row.worker_document_number }}</td>
        <td>{{ row.worker_full_name }}</td>
        <td>{{ row.admin_document_type }}</td>
        <td>{{ row.admin_document_number }}</td>
        <td>{{ row.admin_full_name }}</td>
        <td>{{ row.previous_payment_method }}</td>
        <td>{{ row.new_payment_method }}</td>
        <td style="text-align: center">{{ row.payment_method_status_name }}</td>
      </tr>
    </ng-template>
  </p-table>

  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="first"
    [rows]="rows"
    [totalRecords]="totalRows"
    [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
</div>
