@import '../../../../assets/styles/abstracts/variables.scss';

.modal-content {
  background-color: $color-white;
  overflow-y: scroll;
}

.error-label {
  color: $color-red;
}

.invalid {
  color: $color-red;
  font-size: small;
}
.custom-input {
  font-size: inherit;
  border: 1px solid #ccc;
  padding: 6px 10px;
  color: #66798d;
  /* Agrega cualquier otro estilo necesario */
}


.form-container {
  max-height: 70vh;
  overflow-y: auto;
}

label {
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 4px;
  display: block;
}

textarea,
input,
.p-dropdown {
  width: 100%;
}

.invalid {
  font-size: 12px;
  color: #c62828;
  margin-top: 2px;
}

.modal-content {
  padding-bottom: 10px;
}
