<div class="row mb-2">
  <div class="col-10">
    <div class="title-page">Parametrizar Documentos</div>
  </div>
  <div class="col-2">
    <p-button label="Crear tipo de documento" (click)="createDocumentType()"></p-button>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <p-table
      [value]="documentTypeList"
      [scrollable]="true"
      scrollHeight="400px"
      selectionMode="single"
      [paginator]="false"
      [rows]="20"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="{first} de {totalRecords}">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="document_type_code" style="width: 35%">
            Código<p-sortIcon field="document_type_code"></p-sortIcon>
          </th>
          <th pSortableColumn="document_type_name" style="width: 35%">
            Nombre documento<p-sortIcon field="document_type_name"></p-sortIcon>
          </th>
          <th pSortableColumn="document_type_description" style="width: 35%">
            Descripción<p-sortIcon field="document_type_description"></p-sortIcon>
          </th>
          <th pSortableColumn="is_active" style="width: 15%">
            Estado<p-sortIcon field="is_active"></p-sortIcon>
          </th>
          <th style="width: 15%"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-documentTypeList>
        <tr>
          <td style="text-align: center">
            {{ documentTypeList.document_type_code }}
          </td>
          <td style="text-align: center">
            {{ documentTypeList.document_type_name }}
          </td>
          <td style="text-align: center">
            {{ documentTypeList.document_type_description }}
          </td>
          <td class="d-flex" [ngStyle]="{ 'text-align': 'center' }">
            <p-inputSwitch
              [(ngModel)]="documentTypeList.is_active"
              (onChange)="inActiveDocument(documentTypeList)"></p-inputSwitch>
            <div
              class="d-flex align-items-center ms-2"
              [ngClass]="{ 'input-switch-label': documentTypeList.is_active }">
              {{ documentTypeList.is_active ? 'Activo' : 'Inactivo' }}
            </div>
          </td>
          <td [ngStyle]="{ 'text-align': 'center' }">
            <p-button
              icon="pi pi-pencil"
              [styleClass]="'btn-icon-warning'"
              (click)="editDocument(documentTypeList)"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="rows"
      [totalRecords]="totalRows"
      [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
  </div>
</div>
<p-toast></p-toast>
<app-modal-dinamic
  *ngIf="visibleDialog"
  [select]="true"
  [visible]="visibleDialog"
  [message]="message"
  (setRta)="closeDialog($event)"></app-modal-dinamic>

<app-modal-input-document
  *ngIf="visibleDialogInput"
  [select]="true"
  [visible]="visibleDialogInput"
  [message]="message"
  [buttonmsg]="buttonmsg"
  [parameter]="parameter"
  [inputForm]="inputForm"
  [oneField]="false"
  (setRta)="closeDialogInput($event)"
  (setRtaParameter)="setParameter($event)"></app-modal-input-document>
