<p-dialog [(visible)]="visible" [style]="{ width: '50vw' }" [modal]="true">
  <ng-template pTemplate="headless">
    <div class="modal-content">
      <div class="login-form-header">
        <div class="login-form-header__item login-form-header__item_1"></div>
        <div class="login-form-header__item login-form-header__item_2"></div>
        <div class="login-form-header__item login-form-header__item_3"></div>
        <div class="login-form-header__item login-form-header__item_4"></div>
        <div class="login-form-header__item login-form-header__item_5"></div>
        <div class="login-form-header__item login-form-header__item_6"></div>
      </div>
      <div class="row my-4 px-5">
        <div class="col-12 text-center" style="font-size: 1.1rem; line-height: 1.6;">
          <p>La solicitud con radicado <strong>{{ filingNumber }}</strong></p>
          <p>será asignada al usuario <strong>{{ loggedUserName }}</strong> para su gestión.</p>
          <p style="margin-top: 1rem;">¿Desea continuar?</p>
        </div>
      </div>
      <div>
        <div class="row my-4 px-5">
          <div class="col-12 d-flex justify-content-evenly">
            <p-button label="Cerrar" severity="secondary" (click)="closeDialog(false)"></p-button>
            <p-button label="Continuar" (click)="closeDialog(true)"></p-button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>
