<p-dialog [(visible)]="visible" [style]="{ width: '50vw' }" [modal]="true">
  <ng-template pTemplate="headless">
    <div class="modal-content">
      <div class="login-form-header">
        <div class="login-form-header__item login-form-header__item_1"></div>
        <div class="login-form-header__item login-form-header__item_2"></div>
        <div class="login-form-header__item login-form-header__item_3"></div>
        <div class="login-form-header__item login-form-header__item_4"></div>
        <div class="login-form-header__item login-form-header__item_5"></div>
        <div class="login-form-header__item login-form-header__item_6"></div>
      </div>
      <div class="row my-4 px-5">
        <div class="col-12 text-center">{{ message }}</div>
      </div>
      <form [formGroup]="formGroup">
        <div class="row my-4 px-5">
          <div class="col-12">
            <label> *Código municipio </label>
            <input
              [readonly]="this.buttonmsg !== 'Crear' ? true : false"
              formControlName="codigo_municipio"
              pInputText
              pKeyFilter="integer"
              placeholder="000" />
            <label class="invalid">
              {{
                formGroup.get('codigo_municipio')?.hasError('required') &&
                formGroup.get('codigo_municipio')?.touched
                  ? 'Campo requerido'
                  : ''
              }}{{
                formGroup.get('codigo_municipio')?.hasError('pattern') &&
                formGroup.get('codigo_municipio')?.touched
                  ? 'Solo ingrese numeros'
                  : ''
              }}</label
            >
          </div>
          <div class="col-12">
            <label> *Nombre municipio </label>
            <input
              [readonly]="read_only"
              formControlName="nombre_municipio"
              pInputText
              pKeyFilter="string"
              placeholder="Escriba nombre" />
            <label class="invalid">
              {{
                formGroup.get('nombre_municipio')?.hasError('required') &&
                formGroup.get('nombre_municipio')?.touched
                  ? 'Campo requerido'
                  : ''
              }}
              {{
                formGroup.get('nombre_municipio')?.hasError('pattern') &&
                formGroup.get('nombre_municipio')?.touched
                  ? 'Solo ingrese texto'
                  : ''
              }}</label
            >
          </div>
          <div class="col-12" [style]="{ display: 'flex', 'flex-direction': 'column' }">
            <label> *Departamento </label>
            <p-dropdown
              formControlName="id_departamento"
              [options]="departmentList"
              optionLabel="nombre_departamento"
              optionValue="id_departamento"
              placeholder="Seleccione una opción"
              appendTo="body"
              [style]="{ width: '100%' }">
            </p-dropdown>

            <label class="invalid">
              {{
                formGroup.get('id_departamento')?.hasError('required') &&
                formGroup.get('id_departamento')?.touched
                  ? 'Campo requerido'
                  : ''
              }}</label
            >
          </div>
        </div>
      </form>
      <div *ngIf="read_only">
        <div class="row my-4 px-5">
          <div class="col-12 d-flex justify-content-evenly">
            <p-button label="Cerrar" severity="secondary" (click)="closeDialog(false)"></p-button>
          </div>
        </div>
      </div>
      <div *ngIf="!read_only">
        <div class="row my-4 px-5">
          <div class="col-12 d-flex justify-content-evenly">
            <p-button label="Cancelar" severity="secondary" (click)="closeDialog(false)"></p-button>
            <p-button
              [label]="buttonmsg"
              [disabled]="formGroup.invalid"
              (click)="closeDialog(true)"></p-button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>

