@import '../../../../assets/styles/abstracts/variables.scss';

.modal-content {
  background-color: $color-white;
  overflow-y: auto;
  overflow-x: hidden;
}

.invalid {
  color: $color-red;
  font-size: 0.85rem;
  display: block;
}
