<p-dialog [(visible)]="visible" [style]="{ width: '50vw' }" [modal]="true">
  <ng-template pTemplate="headless">
    <div class="modal-content">
      <div class="login-form-header">
        <div class="login-form-header__item login-form-header__item_1"></div>
        <div class="login-form-header__item login-form-header__item_2"></div>
        <div class="login-form-header__item login-form-header__item_3"></div>
        <div class="login-form-header__item login-form-header__item_4"></div>
        <div class="login-form-header__item login-form-header__item_5"></div>
        <div class="login-form-header__item login-form-header__item_6"></div>
      </div>
      <div class="my-4 px-5 text-center">{{ message }}</div>
      <form [formGroup]="formGroup">
        <div class="my-4 px-5">
            <input type="hidden" formControlName="id_entidad" />
            
            <label> *Código entidad</label>
            <input
              [readonly]="read_only"
              formControlName="codigo_entidad"
              pInputText
              pKeyFilter="string"
              placeholder="Escriba el código de la entidad" />
            <label class="invalid">
              {{
                formGroup.get('codigo_entidad')?.hasError('required') &&
                formGroup.get('codigo_entidad')?.touched
                  ? 'Campo requerido'
                  : ''
              }}
              {{
                formGroup.get('codigo_entidad')?.hasError('pattern') &&
                formGroup.get('codigo_entidad')?.touched
                  ? 'Solo ingrese texto'
                  : ''
              }}</label>

            <label> *Nombre entidad</label>
            <input
              [readonly]="read_only"
              formControlName="nombre_entidad"
              pInputText
              pKeyFilter="string"
              placeholder="Escriba el nombre de la entidad" />
            <label class="invalid">
              {{
                formGroup.get('nombre_entidad')?.hasError('required') &&
                formGroup.get('nombre_entidad')?.touched
                  ? 'Campo requerido'
                  : ''
              }}
              {{
                formGroup.get('nombre_entidad')?.hasError('pattern') &&
                formGroup.get('nombre_entidad')?.touched
                  ? 'Solo ingrese texto'
                  : ''
              }}</label>

             <label> *Tipo entidad</label>
              <p-dropdown
                [readonly]="read_only"
                [options]="tipoDatoOptions"
                formControlName="tipo_entidad"
                optionLabel="label"
                optionValue="value"
                placeholder="Seleccione un tipo">
              </p-dropdown>

            <label class="invalid">
              {{
                formGroup.get('tipo_entidad')?.hasError('required') &&
                formGroup.get('tipo_entidad')?.touched? 'Campo requerido': ''
              }}
            </label>


        </div>
      </form>
      <div *ngIf="read_only" class="my-4 px-5 d-flex justify-content-evenly">
        <p-button label="Cerrar" severity="secondary" (click)="closeDialog(false)"></p-button>
      </div>
      <div *ngIf="!read_only" class="my-4 px-5 d-flex justify-content-evenly">
        <p-button label="Cancelar" severity="secondary" (click)="closeDialog(false)"></p-button>
        <p-button
          [label]="buttonmsg"
          [disabled]="formGroup.invalid"
          (click)="closeDialog(true)"></p-button>
      </div>
    </div>
  </ng-template>
</p-dialog>

